/* To top button */

.to-the-top-button{
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

@font-face {
  font-family: "Inter";
  src: url("Inter-Regular.ttf") format("ttf");
}

* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

.background-1 {
  background: url("images/bg-1.webp");
  background-size: 100% 100%;
}

.background-2 {
  background: url("images/bg-2.webp");
  background-size: 100% 100%;
}

.background-3 {
  background: url("images/bg-3.webp");
  background-size: 100% 100%;
}

a {
  text-decoration: none !important;
}
.container-section {
  width: 80%;
  margin: auto;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.hover-element {
  transition: transform 0.3s;
}
.hover-element:hover {
  transform: scale(0.97);
  cursor: pointer;
}
.glide__arrow {
  background-color: transparent !important;
  border: none;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.glide__bullets {
  display: flex;
  justify-content: center;
  align-items: center;
}
.glide__bullets button {
  background: #e0e0e0;
  width: 10.13px;
  height: 10.13px;
  border: none;
  border-radius: 10px;
}
.glide__bullets button:nth-child(2) {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  width: 14.13px;
  height: 14.13px;
  margin: 0 10px;
  border-radius: 14px;
}

.break--sm {
  display: none;
  flex-basis: 100%;
  height: 16px;
}
/* modal pop-up  free-course*/
/* .modal-load {
  top: 10% !important;
  z-index: 99999999999999999 !important;
}
.btn-close {
  position: absolute;
  right: 0;
  top: 0;
}
.modal-body {
  display: flex;
  align-items: center;
}
.modal-body img {
  display: none;
}
.modal-dialog {
  max-width: 40% !important;
}
.modal-content {
  background: linear-gradient(107.66deg, #12023f 0.54%, #1900af 87.66%);
  border-radius: 20px;
  padding: 20px;
  border: none !important;
}
.modal ._form-content h3 {
  color: rgba(255, 135, 22, 1);
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
}
.modal ._form-content h3 span {
  background: rgba(225, 214, 214, 1);
  padding: 5px 35px 5px 5px;
}
.modal ._form-content p {
  color: white;
}
.modal ._form-content button {
  background: rgba(255, 122, 0, 1);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  padding: 10px 20px;
  margin-top: 24px;
}
.modal ._form_element {
  width: 80%;
  margin-top: 10px;
}
.modal ._form_element label {
  color: white;
} */
/* modal pop-up */
.modal-load{
  top: 4% !important;
  z-index: 99999999999999999  !important;
}
.btn-close{
  position: absolute;
  right: 0;
  top: 0;
}
.modal-title{
  font-size: 16px;
  font-weight: 600;
}
.modal-body ._html-code  {
  font-size: 16px;
  line-height: 18px;

}
/* spots */
.spots {
  background: #008e9b;
  font-weight: 700;
  padding: 10px 0px;
}
.spots p {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-transform: uppercase;
  transition: 5s;
  color: #ffffff;
  animation: blink-animation 1s steps(5, start) infinite;
  /* -webkit-animation: blink-animation 1s steps(5, start) infinite; */
}
.spots:hover{
  cursor: pointer;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
/* navbar */
.navbar-wrapper {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 20px 69px rgba(137, 108, 4, 0.1);
  backdrop-filter: blur(11px);
  position: sticky;
  top: 0;
  z-index: 99;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.nav-link {
  font-size: 16px !important;
  line-height: 19px !important;
  color: #292929 !important;
}
.navbar-blue {
  background: #befbff;
}
.navbar-blue p {
  font-size: 18px;
  line-height: 22px;
  color: #292929;
}
.navbar-blue a {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #292929;
}
.dropdown-menu {
  left: unset !important;
  right: 0 !important;
  background: linear-gradient(157.7deg, #ffffff 0%, #ededed 100%);
  border-radius: 8px !important;
  box-shadow: 0 25px 40px rgb(0 0 0 / 9%);
  border: 1px solid #42e8e0 !important;
  padding: 16px 16px 0 !important;
  z-index: 100 !important;
}

.dropdown-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #606060 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 12px !important;
  margin-bottom: 16px;
  border-radius: 8px !important;
}

.dropdown-item img {
  width: 30px;
  margin-right: 5%;
}
/* hero */
.hero {
  background-image: url("images/hero-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2% 0%;
}
.hero .header-left > span {
  background: #59c4d1;
  border-radius: 10px;
  padding: 10px 21px;
  font-size: 18px;
  color: #ffffff;
}
.hero h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 115.02%;
  color: #008e9b;
  margin: 5% 0%;
}

.hero p {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-weight: 600;
  margin: 0 0 0 10px;
}
.hero p span {
  font-size: 14px;
  line-height: 15px;
  color: #000000;
  font-weight: 400;
}

.hero p span.gray {
  color: #8b7e74;
}

.hero p.hero-text {
  font-size: 18px;
  margin: 5% 0;
}

.hero p.hero-text span {
  color: #1e69e1;
  font-size: 18px;
  font-weight: 700;
}

.header-left {
  width: 40%;
  margin-right: 3%;
}
.header-left div {
  margin: 20px 0px;
}
.hero-img {
  margin: auto;
}
.hero button {
  background: linear-gradient(90deg, #008e9b 0%, #59c4d1 91.67%);
  border: none;
  border-radius: 4px;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 10px 20px;
}

.hero button:hover {
  background: linear-gradient(90deg, #008e9b 67%, #59c4d1 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
}

.hero p span.red {
  color: #ff0000;
}
/* navigation */
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 40px;
  background: linear-gradient(180deg, #59c4d1 25.83%, #befbff 100%);
  box-shadow: 0px 37px 46px -11px rgba(4, 105, 124, 0.23);
  backdrop-filter: blur(9px);
  position: sticky;
  top: 95px;
  z-index: 97;
}
.navigation div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation button {
  color: #ffffff;
  background-color: #008e9b;
  border: none;
  padding: 15px 0;
  border-radius: 10px;
  font-size: 18px;
  line-height: 17px;
  width: 15%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1) !important;
}
.active-navigation {
  background: #FF8C40 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35) !important;
  font-weight: 800 !important;
  color: #ffffff !important;
}
.active-navigationn {
  background: #0b666a !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35) !important;
  font-weight: 800 !important;
  color: #ffffff !important;
}
.navigation-w {
  width: auto !important;
}

/* success formula */

.success-formula {
  background: url("images/formula-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 55px 0;
  border-bottom: 12px solid #59c4d1;
}
.success-formula .container-section {
  width: 65%;
}
.success-formula h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  background: linear-gradient(73deg, #008e9b 52.12%, #59c4d1 100%);
  width: 50%;
  padding: 8px 10px;
  border-radius: 10px;
  margin-bottom: 54px;
}

.success-formula .card-container {
  display: flex;
  flex-direction: row;
  margin-bottom: -120px;
}

.success-formula .success-card {
  background: #ffffff;
  padding: 24px 20px;
  flex-basis: 33.3%;
}

.success-formula .success-card.left {
  box-shadow: -7px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 5px 15px 0px rgba(0, 0, 0, 0.75);
  border-right: 3px solid #2e8a99;
}

.success-formula .success-card.middle {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  border-right: 1px solid #2e8a99;
  border-left: 1px solid #2e8a99;
}

.success-formula .success-card.right {
  box-shadow: 7px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 15px 0px rgba(0, 0, 0, 0.75);
  border-left: 3px solid #0a4d68;
}

.success-card h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #474747;
}

.success-card h4 span {
  color: #474747;
}

.success-card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #858585;
}

.success-card.middle h4 {
  color: #ff8c40 !important;
}

.success-card hr {
  background: #59c4d1;
  width: 40%;
  height: 6px !important;
  border: none;
  opacity: 1;
}

.success-card-hover {
  transition: all 0.8s ease;
}

.success-card-hover:hover {
  background: #ec8728;
  transform: translateY(-15%);
}
.success-card-hover:hover hr {
  background: #0a4d68;
}

.success-card-hover:hover h4 span,
.success-card-hover:hover p {
  color: #ffffff;
}

/* bonus pack */
.bonus-pack {
  margin: 5% 0%;
  color: #ffffff;
}
.bonus-pack .bonus-container {
  background: url("images/bonus-bg.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 65%;
  margin: auto;
  border-radius: 12px;
}
.bonus-pack .bonus-container div {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 3% 0%;
}
.bonus-pack h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.bonus-pack h4 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.bonus-pack h4 span {
  font-style: italic;
}
.bonus-pack ul {
  margin: 28px 0;
}
.bonus-pack ul li {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
}

.bonus-pack button {
  background: linear-gradient(90deg, #028f9c 0%, #58c3d0 91.67%);
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 68px;
  font-size: 20px;
  transition: 0.2s ease-in;
}

/* modules */
.modules {
  width: 70%;
  margin: auto;
}

.modules h2 {
  background: linear-gradient(90deg, #1399A6 0%, #FFF 100%);
  padding: 8px;
  font-size: 32px;
  font-weight: 700;
  color: #292929;
  width: 50%;
}

.modules .list-group-item.active,
.modules .list-group-item:hover {
  background: #ffffff;
  border: 3px solid #018e9b;
  border-radius: 8px;
  color: #666666;
  margin: 10px 0px;
  color: #008E9B;
text-shadow: 0px 2px 8px rgba(0,0,0,0.25);
}

.modules .list-group-item.active span,
.modules .list-group-item:hover span {
  color: #a3a3a3;
 }

.list-group-item + .list-group-item.active {
  margin-top: 0 !important;
  border-top-width: 3px !important;
}

.modules .list-group-item {
  background-color: #ffffff;
  color: #a3a3a3;
  margin: 10px 0px;
  border: none;
  font-size: 22px;
  line-height: 29px;
  align-items: center;
  border-radius: 8px;
  border-right: 2px solid #018e9b;
  border-bottom: 2px solid #018e9b;
  min-height: 80px;
}
.modules .list-group-item span {
  font-weight: 600;
}
.modules .tab-content {
  border-radius: 8px;
  border: 2px solid #60b8c0;
  background: #ebf8f9;
  padding: 16px;
}

.modules .tab-pane > span {
  display: inline-block;
  color: #858585;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.modules .tab-content ul {
  list-style: none;
  margin: 3% 0;
}

.modules .tab-pane ul li {
  color: #000;
font-size: 18px;
font-weight: 500;
}

.modules .tab-content .duration {
  font-size: 18px;
  line-height: 22px;
  color: #858585;
}
.modules .tab-content h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #474747;
}
.modules .tab-content p {
  color: #858585;
font-size: 18px;
font-style: normal;
margin-bottom: 0;
}

.modules .tab-content p span {
  color: #018E9B
}

.modules .tab-content .which-module {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  background: linear-gradient(133deg, #008E9B 46.88%, #59C4D1 100%);
  padding: 8px;
}

.modules .tab-content .fast-track div h4 {
  color: white;
}
/* through-years */
.through-years {
  margin: 5% auto;
}

/* practical-projects */
.practical-projects {
  width: 60%;
  margin: auto;
  padding: 5% 0%;
}
.practical-projects h3 {
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  text-align: center;
  font-weight: 600;
}
.practical-projects h3 span {
  color: #008e9b;
  font-weight: 800;
}
.practical-projects p {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  width: 70%;
  margin: 16px auto 58px;
  text-align: center;
}
.practical-card {
  padding: 2px;
  border-radius: 8px;
  width: 70%;
  margin: 2% auto;
  padding: 16px 12px 38px;
  background: #59c4d1;
}
.practical-card-inner div {
  display: flex;
}
.practical-card-inner div h4 {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 4px 0px;
  margin-right: 8px;
}
.practical-card-inner div span {
  color: #ffffff;
  border: 3.84615px solid #008e9b;
  padding: 9.61538px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-weight: 900;
  font-size: 17.3077px;
}
.practical-card-inner p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-align: left;
  padding: 8px 0px;
  margin: 0;
  width: 100%;
}
/* guarantee */

.guarantee {
  color: #000000;
  border-radius: 10px;
  margin: 0px auto 40px;
}

.guarantee h2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 42px;
  padding: 8px;
}

.guarantee p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.guarantee p span {
  font-weight: 400;
  font-size: 14px;
}

.guarantee-inner {
  background: #ffffff;
  border: 5px solid #43b6c3;
  border-radius: 8px;
  padding: 24px 16px;
}

.guarantee-container {
  display: flex;
  gap: 24px;
  padding: 0 40px 50px;
  justify-content: space-evenly;
}

.guarantee button {
  font-weight: 700;
  border: none;
  font-size: 16px;
  background: linear-gradient(90deg, #008E9B 0%, #59C4D1 100%);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 37px;
  transition: 0.2s ease-in;
}

.guarantee button:hover {
  background: linear-gradient(90deg, #008E9B 50.83%, #BEFBFF 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
}

/* experts */
.experts {
  margin: 5% auto 0;
  padding-bottom: 300px;
}
.experts h2 {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}
.experts h2 span {
  color: #008e9b;
  font-weight: 700;
}
.expert-card {
  border-radius: 8px;
  margin: 2% 0%;
}
.expert-card-inner {
  background: #018e9b;
  border: 2px solid #0b666a;
  padding: 16px;
  border-radius: 8px;
  /* min-height: 200px; */
}
.expert-card-inner h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.expert-card-inner hr {
  background: #befbff;
  height: 2px !important;
  margin: 0;
  opacity: 1;
}
.expert-card-inner p {
  font-size: 16px;
  line-height: 20px;
  color: #e0e0e0;
  margin-top: 8px;
  height: 1xp;
}
.expert-blue {
  background: #56bfe0;
  border: 2px solid #1e69e1;
}
.expert-blue p,
.expert-blue h4 {
  color: #292929;
}

.expert-blue hr {
  background: #1e69e1;
  height: 2px !important;
  margin: 0;
  opacity: 1;
}
/* hire */
.hire-program {
  background: #008e9b;
  color: white;
  padding-top: 3%;
  position: relative;
}

.hire-program h2 {
  font-size: 32px;
  line-height: 50px;
  position: relative;
  z-index: 2;
  width: 60%;
}

.hire-program h2 span {
  padding: 8px;
  background: #befbff;
  color: #008e9b;
  font-weight: 800;
}

.hire-program p {
  font-size: 16px;
  line-height: 19px;
  width: 40%;
  margin: 4% 0%;
  position: relative;
  z-index: 10;
}

.hire-program p span {
  color: #59c4d1;
  font-weight: 600;
}

.hire-table {
  backdrop-filter: blur(17.7885px);
  border-radius: 11.5385px;
  position: relative;
  z-index: 3;
  margin-top: 3%;
}

.hire-table-inner {
  padding: 23.0769px;
  border-radius: 11.538px;
  border: 3.846px solid #59c4d1;
  background: linear-gradient(
    135deg,
    rgba(0, 142, 155, 0.63) 0%,
    rgba(190, 251, 255, 0.63) 39.9%
  );
  backdrop-filter: blur(17.788461685180664px);
}

.hire-table-inner .col-lg-1 span {
  color: white;
  border: 3.84615px solid white;
  padding: 9.61538px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-weight: 900;
  font-size: 17.3077px;
  margin-bottom: 10px;
}
.hire-table-inner h4 {
  font-weight: 800;
  font-size: 17.3077px;
  line-height: 21px;
  height: 105px;
}
.hire-table-inner hr {
  background: #59c4d1;
  opacity: 1;
  height: 4px !important;
}
.hire-table-inner p {
  height: 120px;
  font-weight: 600;
  font-size: 15.3846px;
  line-height: 19px;
  width: 100%;
  position: relative;
  z-index: 3;
}
.hire-table-inner .col-1 div {
  font-weight: 800;
  font-size: 46.1538px;
  line-height: 56px;
  color: #befbff;
  background: rgba(28, 0, 37, 0.62);
  padding: 0px 15.3846px;
}
.yellow-value,
.yellow-value div {
  color: #befbff;
}
.yellow-value span {
  border: 3.84615px solid #befbff !important;
  color: #befbff !important;
}

.yellow-value hr {
  background: #befbff;
  opacity: 1;
  height: 4px !important;
}

.hire-program .logo-girl {
  position: absolute;
  right: 0;
  top: -10%;
  z-index: 1;
}

.hire-after {
  display: flex;
  margin: 2% 0;
}

.hire-after p.hire-heading {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
}

.hire-after .hire-left,
.hire-after .hire-right {
  flex-basis: 50%;
  position: relative;
  z-index: 2;
}

.hire-after .hire-left div,
.hire-after .hire-right div {
  display: flex;
}

.hire-after .hire-left div img,
.hire-after .hire-right div img {
  align-self: center;
}

.hire-after hr {
  background: #59c4d1;
  width: 30%;
  height: 5px !important;
  border: none;
  opacity: 1;
}

.hire-after .hire-left div p,
.hire-after .hire-right div p {
  margin: 2% 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  margin-left: 8px;
}

/* pricing */

.pricing {
  margin: 5% auto;
}
.pricing h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  text-align: center;
  margin: 5% 0%;
}
.pricing h2 span {
  color: #008e9b;
  font-weight: 700;
  font-size: 38px;
}
.pricing-wrapper {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 100px;
}
.pricing-card {
  border: 1px solid #000000;
  flex-basis: 33%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}


  .pricing-top {
    height: 640px;
  }
  
.pricing-top div:nth-child(1) {
  background: #008e9b;
  text-align: center;
  padding: 21px 12px;
  height: 180px;
  margin: 0 8px;
}
.pricing-top div:nth-child(1) h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #befbff;
}
.pricing-top div:nth-child(1) p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff !important;
  border-bottom: none !important;
  margin: 6px;
  padding: 0;
}
.pricing-top div p:nth-child(1) {
  color: rgba(121, 121, 121, 1) !important;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}
.pricing-top p:nth-child(1) span.price {
  font-size: 24px;
  line-height: 29px;
  color: red;
}

.not-crossed, .crossed {
  position: relative;
  display: inline-block;
  color: rgba(57, 77, 255, 1);
  font-size: 24px;
  line-height: 29px;
}

.crossed::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: black;
  transform-origin: 0 0;
  transform: rotate(-20deg);
}

.pricing-card p {
  border-bottom: 2px solid black;
  margin: 12px;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.pricing-bottom {
  text-align: center;
}
.pricing-bottom .reserve {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #008e9b;
  border-radius: 10px;
  border: none;
  padding: 9px 23px;
}
.pricing-bottom .reserve-txt {
  font-size: 13px;
  line-height: 16px;
  color: #666666;
  border: none;
  margin-top: 0;
}
.pricing-bottom div {
  background: #008e9b;
  margin-top: 45px;
  padding-bottom: 16px;
}
.pricing-bottom img {
  margin-top: -35px;
}
.pricing-bottom button:last-child {
  background: #59c4d1;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  border: none;
  padding: 9px 23px;
  font-weight: 700;
  max-width: 75%;
}
.most-popular {
  font-weight: 900;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 8px 8px 0px 0px;
  padding: 11px 61px;
  position: absolute;
  top: -48px;
  width: 100%;
  z-index: 1;
}

/* real experience */

.real-experience {
  width: 90%;
  margin: 50px auto;
}

.real-experience h3 {
  text-align: center;
  background: #008e9b;
  padding: 8px 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
}

.experience-cards {
  display: flex;
  gap: 0s;
  background: #ffffff;
}

.experience-card {
  flex-basis: 33.3%;
  padding: 20px 18px;
}

.experience-card.gray {
  background: rgba(218, 218, 218, 0.41);
}

.experience-head {
  background: #008e9b;
  text-align: center;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 0;
  padding: 7%;
}

.experience-head p {
  color: #59c4d1;
  font-weight: 800;
  font-size: 26px;
}

.experience-head span {
  color: #ffffff;
  font-size: 16px;
}

.experience-card ul li {
  font-weight: 500;
  font-size: 24px;
    margin: 8px;
}
/* included */

.included {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.included h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.included p {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.included-list div {
  gap: 18px;
  align-items: center;
  margin: 10px 0;
}

.included div img {
  align-self: center;
  margin-left: 36px;
}

/* calculator */
.calculator {
  background: #008e9b;
  padding: 5% 0%;
  color: white;
  margin: 5% 5% 0;
}
.calculator h3 {
  text-align: center;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}
.calculator h3 span {
  color: #292929;
  font-weight: 800;
  padding: 8px;
  background: #59c4d1;
}

.calculator p.calculator-subtitle {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin: 3% 5%;
}

.calculator input {
  visibility: hidden;
}
.calc-left {
  width: 90%;
  margin: auto;
}
.calc-right {
  width: 30%;
  margin-top: 5%;
}
.calc-left p,
.calc-right p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 10px;
}
.choose-wrapper {
  background: #56bfe0;
  padding: 1px;
  border-radius: 8px;
}
.choose-inner {
  padding: 12px;
  background: #180020;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.choose-wrapper label {
  font-size: 18px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
  padding: 16px;
}
.choose-wrapper label span {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.choose-wrapper label:hover {
  cursor: pointer;
  background: #ffffff !important;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.21);
  color: #474747 !important;
  border-radius: 8px;
}
.choose-wrapper .active {
  background: #ffffff !important;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.21);
  color: #474747 !important;
  border-radius: 8px;
}
.choose-wrapper label span {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  background: transparent !important;
}
.calc-price-wrapper {
  padding: 2px;
  width: 30%;
  margin: 5% auto 0% auto;
  border-radius: 12px;
}
.calc-price {
  padding: 2px;
  background: #56bfe0;
  border-radius: 12px;
  text-align: center;
}
.calc-price p {
  font-size: 18px;
  font-weight: 700;
  color: rgba(71, 71, 71, 1);
  margin: 0;
  background-color: white;
  border-radius: 12px;
  padding: 14px 32px;
}
.calculator-price-text {
  font-weight: 700;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #ffffff !important;
}
/* diploma */

.diploma-container {
  padding: 5% 0;
}
.diploma {
  width: 80%;
  margin: 0 auto;
  padding: 1px;
  background: #008e9b;
  border-radius: 12px;
}
.diploma-inner {
  border-radius: 12px;
  padding: 16px;
  background: white;
}
.diploma-header {
  padding: 32px;
  background: #59c4d1;
  border-radius: 12px;
  color: #e0e0e0;
}
.diploma-header h3 {
  font-size: 32px;
  line-height: 39px;
  color: #026b75;
  font-weight: 700;
}
.diploma-header hr {
  height: 4px !important;
  background: #026b75;
  width: 50px;
  opacity: 1;
  margin-left: 10px;
}
.diploma-header p {
  font-size: 16px;
  font-weight: 540;
  color: #000000;
}
.diploma-header p span {
  font-weight: 700;
}
.diploma-card {
  width: 48%;
  padding: 16px;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  margin: 2% 0%;
  background: url(images/diploma-bg.png.webp);
  background-size: 100% 100%;
}
.diploma-card h4 {
  font-size: 16px;
  line-height: 24px;
  color: rgba(71, 71, 71, 1);
  font-weight: 700;
  margin: 10px 0px;
  min-height: 70px;
}
.diploma-card h4 span {
  color: rgba(102, 102, 102, 1);
  font-weight: 500;
}
.diploma-card hr {
  height: 4px !important;
  background: linear-gradient(107.67deg, #12023f 26.28%, #1900af 75.65%);
  width: 50%;
  opacity: 1;
}
.diploma-card ul li {
  font-size: 16px;
  line-height: 19px;
  color: #858585;
  margin: 2% 0%;
}
/* learning advisor */
.learning-advisor {
  background: #008e9b;
  padding-top: 5%;
}
.learning-info {
  width: 60%;
}
.learning-advisor h3 {
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}
.learning-advisor h3 span {
  color: #befbff;
  font-weight: 900;
}
.learning-advisor p {
  color: #ffffff;
  font-size: 18px;
  margin: 5% 0%;
}

.learning-advisor p span {
  color: #befbff;
}

.learning-info button {
  padding: 11px 18px;
  background: #59c4d1;
  border-radius: 4px;
  border: none;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  transition-property: background, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

/* free video */
.free-video {
  margin: 5% 0%;
}
.free-video-left {
  background: linear-gradient(135deg, #008e9b 6.77%, #59c4d1 98.96%);
  padding: 64px 10% 64px 10%;
}
.free-video div p {
  font-size: 16px;
  line-height: 19px;
}
.free-video div p:nth-child(1) {
  padding: 8px;
  background: #ffffff;
  color: #666666;
}
.free-video div h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}

.free-video h3 span {
  color: rgba(2, 97, 147, 1);
  font-weight: 900;
}
.free-video-left label {
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
}
.free-video-left button {
  background: linear-gradient(133deg, #008e9b 0%, #59c4d1 67.71%);
  border-radius: 4px;
  border: none;
  padding: 8px;
  color: #292929;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.input-wrapper {
  display: flex;
  position: relative;
  margin-top: 10px;
}
.input-wrapper input {
  width: 100%;
  background: #002a3f;
  border-radius: 4px;
  padding: 11px 10px;
  border: none;
  color: #c2c2c2;
}

/* register */

.form-wrapper {
  width: 50%;
  margin: auto;
}
.form-wrapper #_form_916_ ._form-title {
  font-size: 32px;
  line-height: 39px;

  color: #008e9b !important;
  text-align: center;
}
.form-wrapper span {
  color: #008e9b;
  font-weight: 700;
}
.form-wrapper hr {
  height: 4px !important;
  background: #008e9b;
  width: 50px;
  opacity: 1;
  margin-left: 24px;
}
.form-wrapper p {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-weight: 600;
}
.form-wrapper p span {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.form-wrapper label {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #606060;
}
.form-wrapper #_form_916_ ._field-wrapper input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #008e9b !important;
}

.form-wrapper #_form_916_ ._submit {
  background: #008e9b !important;
  border-radius: 4px;
  padding: 11px 18px;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: none;
  margin: 2% 0%;
  width: 100%;
}

.form-wrapper #_form_916_ ._submit:hover {
  background: #17ecff;
}

.form-wrapper small {
  color: #858585;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  display: block;
  margin: 5% 0%;
}

.form-wrapper ._form_element {
  margin: 16px 0;
}

.form-wrapper ._form-thank-you {
  color: #000;
}

/* logos */

.logos {
  background: #008e9b;
  padding: 5% 0%;
}

.logos h2 {
  font-size: 32px;
  line-height: 39px;
  color: rgba(255, 255, 255, 1);
}
.logos h2 span {
  color: #befbff;
  font-weight: 800;
}
.logos hr {
  height: 4px !important;
  background: #ffffff;
  width: 50px;
  opacity: 1;
  margin-left: 20px;
}

.logos img {
  width: 100%;
}

.enroll-in {
  margin: 5% 0% 0;
  padding-bottom: 5%;
}
.enroll-in h3 {
  font-size: 32px;
  line-height: 39px;
  color: #858585;
}
.enroll-in h3 span {
  color: #008e9b;
  font-weight: 700;
}
.enroll-in-info {
  width: 22%;
  margin-top: 24px;
}
.enroll-in-info p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 3% 0%;
  height: 60px;
}
.enroll-in-info hr {
  height: 2px !important;
  background: #008e9b;
  width: 100%;
  opacity: 1;
}
.jump {
  animation-name: bounce-1;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    color: rgba(30, 17, 137, 1);
  }
  100% {
    transform: translateY(0);
  }
}
/* footer */
footer {
  background: #474747;
  padding: 3% 0%;
}
.footer-element {
  width: 30%;
}
footer h4 {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 0;
}
footer p {
  font-size: 12px;
  line-height: 15px;
  color: #c2c2c2;
}
.academies a {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff !important;
  text-decoration: none;
  display: block;
  margin: 2% 0%;
}
.academies .active-academy {
  color: #008e9b !important;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
}
.social a {
  margin-right: 10px;
}
.bottom {
  padding: 16px 0px;
  background: #0e0012;
}
.bottom p {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: #a3a3a3;
  margin: 0;
}
.bottom p span {
  color: #008e9b !important;
}

.bottom a{
  color:#008e9b !important

}

.bottom a:hover{
  color: #091efc !important
}

/* REGISTRATION FORM */
@import url(https://fonts.bunny.net/css?family=ibm-plex-sans:400,600);

#_form_916_ {
    font-size: 14px;
    line-height: 1.6;
    font-family: arial, helvetica, sans-serif;
    margin: 0
}

#_form_916_ * {
    outline: 0
}

._form_hide {
    display: none;
    visibility: hidden
}

._form_show {
    display: block;
    visibility: visible
}

#_form_916_._form-top {
    top: 0
}

#_form_916_._form-bottom {
    bottom: 0
}

#_form_916_._form-left {
    left: 0
}

#_form_916_._form-right {
    right: 0
}

#_form_916_ input[type="text"],
#_form_916_ input[type="tel"],
#_form_916_ input[type="date"],
#_form_916_ textarea {
    padding: 6px;
    height: auto;
    border: #979797 1px solid;
    border-radius: 4px;
    color: #000 !important;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#_form_916_ textarea {
    resize: none
}

#_form_916_ ._submit {
    -webkit-appearance: none;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    text-align: center;
    background: #004CFF !important;
    border: 0 !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    color: #FFFFFF !important;
    padding: 10px !important
}

#_form_916_ ._submit:disabled {
    cursor: not-allowed;
    opacity: 0.4
}

#_form_916_ ._submit.processing {
    position: relative
}

#_form_916_ ._submit.processing::before {
    content: "";
    width: 1em;
    height: 1em;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border: double 3px transparent;
    border-radius: 50%;
    background-image: linear-gradient(#004CFF, #004CFF), conic-gradient(#004CFF, #FFFFFF);
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: 1200ms ease 0s infinite normal none running _spin
}

#_form_916_ ._submit.processing::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #004CFF !important;
    border: 0 !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    color: #FFFFFF !important;
    padding: 10px !important
}

@keyframes _spin {
    0% {
        transform: translate(-50%, -50%) rotate(90deg)
    }

    100% {
        transform: translate(-50%, -50%) rotate(450deg)
    }
}

#_form_916_ ._close-icon {
    cursor: pointer;
    background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
    background-repeat: no-repeat;
    background-size: 14.2px 14.2px;
    position: absolute;
    display: block;
    top: 11px;
    right: 9px;
    overflow: hidden;
    width: 16.2px;
    height: 16.2px
}

#_form_916_ ._close-icon:before {
    position: relative
}

#_form_916_ ._form-body {
    margin-bottom: 30px
}

#_form_916_ ._form-image-left {
    width: 150px;
    float: left
}

#_form_916_ ._form-content-right {
    margin-left: 164px
}

#_form_916_ ._form-branding {
    color: #fff;
    font-size: 10px;
    clear: both;
    text-align: left;
    margin-top: 30px;
    font-weight: 100
}

#_form_916_ ._form-branding ._logo {
    display: block;
    width: 130px;
    height: 14px;
    margin-top: 6px;
    background-image: url("https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png");
    background-size: 130px auto;
    background-repeat: no-repeat
}

#_form_916_ .form-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

#_form_916_ ._form-label,
#_form_916_ ._form_element ._form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block
}

#_form_916_._dark ._form-branding {
    color: #333
}

#_form_916_._dark ._form-branding ._logo {
    background-image: url("https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png")
}

#_form_916_ ._form_element {
    position: relative;
    margin-bottom: 10px;
    font-size: 0;
    max-width: 100%
}

#_form_916_ ._form_element * {
    font-size: 14px
}

#_form_916_ ._form_element._clear {
    clear: both;
    width: 100%;
    float: none
}

#_form_916_ ._form_element._clear:after {
    clear: left
}

#_form_916_ ._form_element input[type="text"],
#_form_916_ ._form_element input[type="date"],
#_form_916_ ._form_element select,
#_form_916_ ._form_element textarea:not(.g-recaptcha-response) {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit
}

#_form_916_ ._field-wrapper {
    position: relative
}

#_form_916_ ._inline-style {
    float: left
}

#_form_916_ ._inline-style input[type="text"] {
    width: 150px
}

#_form_916_ ._inline-style:not(._clear) {
    margin-right: 20px
}

#_form_916_ ._form_element img._form-image {
    max-width: 100%
}

#_form_916_ ._form_element ._form-fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0
}

#_form_916_ ._clear-element {
    clear: left
}

#_form_916_ ._full_width {
    width: 100%
}

#_form_916_ ._form_full_field {
    display: block;
    width: 100%;
    margin-bottom: 10px
}

#_form_916_ input[type="text"]._has_error,
#_form_916_ textarea._has_error {
    border: #F37C7B 1px solid
}

#_form_916_ input[type="checkbox"]._has_error {
    outline: #F37C7B 1px solid
}

#_form_916_ ._show_be_error {
    float: left
}

#_form_916_ ._error {
    display: block;
    position: absolute;
    font-size: 14px;
    z-index: 10000001
}

#_form_916_ ._error._above {
    padding-bottom: 4px;
    bottom: 39px;
    right: 0
}

#_form_916_ ._error._below {
    padding-top: 8px;
    top: 100%;
    right: 0
}

#_form_916_ ._error._above ._error-arrow {
    bottom: -4px;
    right: 15px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #FFDDDD
}

#_form_916_ ._error._below ._error-arrow {
    top: 0;
    right: 15px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #FFDDDD
}

#_form_916_ ._error-inner {
    padding: 12px 12px 12px 36px;
    background-color: #FFDDDD;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM9 3V9H7V3H9ZM9 13V11H7V13H9Z' fill='%23CA0000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 12px center;
    font-size: 14px;
    font-family: arial, sans-serif;
    font-weight: 600;
    line-height: 16px;
    color: #000;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(31, 33, 41, 0.298295)
}

@media only screen and (max-width:319px) {
    #_form_916_ ._error-inner {
        padding: 7px 7px 7px 25px;
        font-size: 12px;
        line-height: 12px;
        background-position: 4px center;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

#_form_916_ ._error-inner._form_error {
    margin-bottom: 5px;
    text-align: left
}

#_form_916_ ._button-wrapper ._error-inner._form_error {
    position: static
}

#_form_916_ ._error-inner._no_arrow {
    margin-bottom: 10px
}

#_form_916_ ._error-arrow {
    position: absolute;
    width: 0;
    height: 0
}

#_form_916_ ._error-html {
    margin-bottom: 10px
}

.pika-single {
    z-index: 10000001 !important
}

#_form_916_ input[type="text"].datetime_date {
    width: 69%;
    display: inline
}

#_form_916_ select.datetime_time {
    width: 29%;
    display: inline;
    height: 32px
}

#_form_916_ input[type="date"].datetime_date {
    width: 69%;
    display: inline-flex
}

#_form_916_ input[type="time"].datetime_time {
    width: 29%;
    display: inline-flex
}

@media (min-width:320px) and (max-width:667px) {
    ::-webkit-scrollbar {
        display: none
    }

    #_form_916_ {
        margin: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        box-sizing: border-box
    }

    #_form_916_ * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1em
    }

    #_form_916_ ._form-content {
        margin: 0;
        width: 100%
    }

    #_form_916_ ._form-inner {
        display: block;
        min-width: 100%
    }

    #_form_916_ ._form-title,
    #_form_916_ ._inline-style {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0
    }

    #_form_916_ ._form-title {
        font-size: 1.2em
    }

    #_form_916_ ._form_element {
        margin: 0 0 20px;
        padding: 0;
        width: 100%
    }

    #_form_916_ ._form-element,
    #_form_916_ ._inline-style,
    #_form_916_ input[type="text"],
    #_form_916_ label,
    #_form_916_ p,
    #_form_916_ textarea:not(.g-recaptcha-response) {
        float: none;
        display: block;
        width: 100%
    }

    #_form_916_ ._row._checkbox-radio label {
        display: inline
    }

    #_form_916_ ._row,
    #_form_916_ p,
    #_form_916_ label {
        margin-bottom: 0.7em;
        width: 100%
    }

    #_form_916_ ._row input[type="checkbox"],
    #_form_916_ ._row input[type="radio"] {
        margin: 0 !important;
        vertical-align: middle !important
    }

    #_form_916_ ._row input[type="checkbox"]+span label {
        display: inline
    }

    #_form_916_ ._row span label {
        margin: 0 !important;
        width: initial !important;
        vertical-align: middle !important
    }

    #_form_916_ ._form-image {
        max-width: 100%;
        height: auto !important
    }

    #_form_916_ input[type="text"] {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        line-height: 1.3em;
        -webkit-appearance: none
    }

    #_form_916_ input[type="radio"],
    #_form_916_ input[type="checkbox"] {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        font-size: 1em;
        margin: 0 0.3em 0 0;
        vertical-align: baseline
    }

    #_form_916_ button[type="submit"] {
        padding: 20px;
        font-size: 1.5em
    }

    #_form_916_ ._inline-style {
        margin: 20px 0 0 !important
    }

    #_form_916_ ._inline-style input[type="text"] {
        width: 100%
    }
}

#_form_916_ .sms_consent_checkbox {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 20px 0
}

#_form_916_ .sms_consent_checkbox input[type="checkbox"] {
    float: left;
    margin: 5px 10px 10px 0
}

#_form_916_ .sms_consent_checkbox .sms_consent_message {
    display: inline;
    float: left;
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
    color: #7D8799
}

#_form_916_ .sms_consent_checkbox .sms_consent_message.sms_consent_mini {
    width: 90%
}

#_form_916_ .sms_consent_checkbox ._error._above {
    right: auto;
    bottom: 0
}

#_form_916_ .sms_consent_checkbox ._error._above ._error-arrow {
    right: auto;
    left: 5px
}

@media (min-width:320px) and (max-width:667px) {
    #_form_916_ .sms_consent_checkbox ._error._above {
        top: -30px;
        left: 0;
        bottom: auto
    }
}

#_form_916_ .field-required {
    color: #FF0000
}

#_form_916_ {
    position: relative;
    text-align: left;
    margin: 25px auto 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFFFFF !important;
    border: 0;
    max-width: 500px;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    color: #000000
}

#_form_916_ ._show_be_error {
    min-width: 100%
}

#_form_916_._inline-form,
#_form_916_._inline-form ._form-content {
    font-family: "IBM Plex Sans", Helvetica, sans-serif
}

#_form_916_._inline-form ._row span:not(.field-required),
#_form_916_._inline-form ._row label {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em
}

#_form_916__inlineform input[type="text"],
#_form_916__inlineform input[type="date"],
#_form_916__inlineform input[type="tel"],
#_form_916__inlineform select,
#_form_916__inlineform textarea:not(.g-recaptcha-response) {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-color: #000000;
    line-height: 1.6em
}

#_form_916_._inline-form ._html-code *:not(h1, h2, h3, h4, h5, h6),
#_form_916_._inline-form .sms_consent_message,
#_form_916_._inline-form ._form-thank-you {
    font-family: "IBM Plex Sans", Helvetica, sans-serif
}

#_form_916_._inline-form ._form-label,
#_form_916_._inline-form ._form-emailidentifier,
#_form_916_._inline-form ._form-checkbox-option-label {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6em
}

#_form_916_._inline-form ._submit {
    margin-top: 12px;
    font-family: "IBM Plex Sans", Helvetica, sans-serif
}

#_form_916_._inline-form ._html-code h1,
#_form_916_._inline-form ._html-code h2,
#_form_916_._inline-form ._html-code h3,
#_form_916_._inline-form ._html-code h4,
#_form_916_._inline-form ._html-code h5,
#_form_916_._inline-form ._html-code h6,
#_form_916_._inline-form ._form-title {
    font-size: 22px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 0;
    display: block
}

#_form_916_._inline-form ._form-branding {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 100;
    font-style: normal;
    text-decoration: none
}

#_form_916_:before,
#_form_916_:after {
    content: " ";
    display: table
}

#_form_916_:after {
    clear: both
}

#_form_916_._inline-style {
    width: auto;
    display: inline-block
}

#_form_916_._inline-style input[type="text"],
#_form_916_._inline-style input[type="date"] {
    padding: 10px 12px
}

#_form_916_._inline-style button._inline-style {
    position: relative;
    top: 27px
}

#_form_916_._inline-style p {
    margin: 0
}

#_form_916_._inline-style ._button-wrapper {
    position: relative;
    margin: 16px 12.5px 0 20px
}

#_form_916_ ._form-thank-you {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px
}

#_form_916_ ._form-pc-confirmation ._submit {
    margin-top: 16px
}

@media (min-width:320px) and (max-width:667px) {
    #_form_916_._inline-form._inline-style ._inline-style._button-wrapper {
        margin-top: 20px !important;
        margin-left: 0 !important
    }
}

#_form_916_ .iti {
    width: 100%
}

#_form_916_ .iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 100%
}

#_form_916_ .iti input {
    width: 100%;
    border: #979797 1px solid;
    border-radius: 4px
}

#_form_916_ .iti--separate-dial-code .iti__selected-flag {
    background-color: #FFFFFF;
    border-radius: 4px
}

#_form_916_ .iti--separate-dial-code .iti__selected-flag:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

#_form_916_ .iti__country-list {
    border-radius: 4px;
    margin-top: 4px;
    min-width: 460px
}

#_form_916_ .iti__country-list--dropup {
    margin-bottom: 4px
}

#_form_916_ .phone-error-hidden {
    display: none
}

#_form_916_ .phone-error {
    color: #E40E49
}

#_form_916_ .phone-input-error {
    border: 1px solid #E40E49 !important
}

#_form_916_._inline-form ._form-content ._form-list-subscriptions-field fieldset {
    margin: 0;
    margin-bottom: 1.1428571429em;
    border: none;
    padding: 0
}

#_form_916_._inline-form ._form-content ._form-list-subscriptions-field fieldset:last-child {
    margin-bottom: 0
}

#_form_916_._inline-form ._form-content ._form-list-subscriptions-field legend {
    margin-bottom: 1.1428571429em
}

#_form_916_._inline-form ._form-content ._form-list-subscriptions-field label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0.8571428571em
}

#_form_916_._inline-form ._form-content ._form-list-subscriptions-field label:last-child {
    margin-bottom: 0
}

#_form_916_._inline-form ._form-content ._form-list-subscriptions-field input {
    margin: 0;
    margin-right: 8px
}

#_form_916_._inline-form ._form-content ._form-list-subscriptions-field ._form-checkbox-option-label {
    display: block;
    font-weight: 400;
    margin-top: -4px
}

#_form_916_._inline-form ._form-content ._form-list-subscriptions-field ._form-checkbox-option-label-with-description {
    display: block;
    font-weight: 700;
    margin-top: -4px
}

#_form_916_._inline-form ._form-content ._form-list-subscriptions-field ._form-checkbox-option-description {
    margin: 0;
    font-size: 0.8571428571em
}

#_form_916_._inline-form ._form-content ._form-list-subscriptions-field ._form-subscriptions-unsubscribe-all-description {
    line-height: normal;
    margin-top: -2px
}


